files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/application.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log
      /var/log/web.stderr.log

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

